!!!
%html
  %head
    %title NoteR
    %link{ :rel => "stylesheet", :href => "/bootstrap.css", :type => "text/css"}
    %link{ :rel => "stylesheet", :href => "/bootstrap-responsive.css", :type => "text/css"}
    %script{ :src => "/less.js", :type => "text/javascript"}
  %body
    .container  
      #sidebar.span2
        #sidebarbutton
        %img.button{ :src => "/save.png"}
        %img.button{ :src => "/open.png"}
        %img.button{ :src => "/new.png"}
    .pull-right.span5
      %h1.pagetitle#black R
      %h1.pagetitle#white NOTE
    #notepad