!!!
%html
  %head
    %title Bootnotes
    %link{ :rel => "stylesheet", :href => "/bootstrap.css", :type => "text/css"}
    %link{ :rel => "stylesheet", :href => "/bootnote.less", :type => "text/css"}
    %link{ :rel => "stylesheet", :href => "/bootstrap-responsive.css", :type => "text/css"}
    %script{ :src => "/less.js", :type => "text/javascript"}
  %body
    .container  
      %h1.offset5 Bootnotes
      #divider.span12
      #rightbar.span3.offset9